cli-config.php

test-reports
.buildpath
.project
.buildpath
.idea/
.settings/
cscope.out
doc/config/phpdoc.ini
doc/html

tests/fixtures/doctrine
phpunit.xml
mysql.phpunit.xml
pgsql.phpunit.xml
sqlite.phpunit.xml

phpcr_tests.db
phpcr_tests.db-journal

vendor/
composer.phar
composer.lock

/test