cli-config.php

test-reports
.buildpath
.project
.buildpath
.idea/
.settings/
cscope.out
doc/config/phpdoc.ini
doc/html

tests/fixtures/doctrine
tests/pgsql.phpunit.xml
tests/mysql.phpunit.xml

vendor/
composer.phar
composer.lock
