parameters:
    level: 1
    paths:
        - src
    ignoreErrors:
        # BC for legacy version of postgres platform class
        - '#Class Doctrine\\DBAL\\Platforms\\PostgreSqlPlatform not found.#'
