<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         strict="false"
         bootstrap="tests/bootstrap.php">
    <php>
        <ini name="memory_limit" value="512M"/>
        <var name="phpcr.user" value="admin" />
        <var name="phpcr.pass" value="admin" />
        <var name="phpcr.workspace" value="tests" />
        <var name="phpcr.defaultWorkspace" value="default" />
        <var name="phpcr.additionalWorkspace" value="testsAdditional" />

        <var name="data_caches" value="meta,nodes" />
        <!-- Doctrine DBAL database configuration -->
        <var name="phpcr.doctrine.dbal.driver" value="pdo_sqlite" />
        <var name="phpcr.doctrine.dbal.path" value="phpcr_tests.db" />
        <var name="phpcr.doctrine.dbal.host" value="localhost"/>
        <var name="phpcr.doctrine.dbal.username" value="jackalope"/>
        <var name="phpcr.doctrine.dbal.password" value=""/>
        <var name="phpcr.doctrine.dbal.dbname" value="phpcr_tests"/>
    </php>

    <testsuites>
        <testsuite name="Jackalope Doctrine DBAL Tests">
            <directory>tests/Jackalope/Transport</directory>
            <directory>vendor/jackalope/jackalope/tests</directory>
            <directory>vendor/phpcr/phpcr/tests</directory>
            <directory>vendor/phpcr/phpcr-utils/tests</directory>
            <directory>vendor/phpcr/phpcr-api-tests/</directory>
        </testsuite>
    </testsuites>

    <!-- configuration for code coverage report -->
    <filter>
        <whitelist>
            <directory>src</directory>
            <directory>vendor/jackalope/jackalope/src</directory>
            <directory>vendor/phpcr/phpcr/src</directory>
            <directory>vendor/phpcr/phpcr-utils/src</directory>

            <exclude>
                <!-- ignore whats not implemented yet -->
                <directory>vendor/phpcr/phpcr/src/PHPCR/Version</directory>
                <directory>vendor/jackalope/jackalope/src/Jackalope/Version</directory>

                <directory>vendor/phpcr/phpcr/src/PHPCR/Lock</directory>
                <directory>vendor/jackalope/jackalope/src/Jackalope/Lock</directory>

                <directory>vendor/phpcr/phpcr/src/PHPCR/Observation</directory>
                <directory>vendor/jackalope/jackalope/src/Jackalope/Observation</directory>

                <directory>vendor/phpcr/phpcr/src/PHPCR/Retention</directory>
                <directory>vendor/jackalope/jackalope/src/Jackalope/Retention</directory>

                <directory>vendor/phpcr/phpcr/src/PHPCR/Security</directory>
                <directory>vendor/jackalope/jackalope/src/Jackalope/Security</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
